@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #f2f2f2;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ffda55;
    background-color: #fff;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav img {
    width: 200px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 2px solid #ffda55;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ffda55;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #333;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #ffda55;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #ffda55;
    color: #fff;
}
