@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


h2 {
    font-family: "Nunito", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.jeu_quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
}

.button {
    border-radius: 5px;
}



