.quizzes-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quiz-title {
    font-weight: bold;
    margin-bottom: 10px;
    
}
.quiz-title a{
    text-decoration: none;
    color: black;
}
.play-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.play-button:hover {
    background-color: #45a049;
}
