@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.quiz-title {
    font-weight: bold;
    margin-bottom: 10px;
    
}
.quiz-title a{
    text-decoration: none;
    color: black;
}
.play-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.play-button:hover {
    background-color: #45a049;
}

h1 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.quizzes-container {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    text-align: center;
}

button {
    border-radius: 10px;
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}