@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.quizzes-container {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

button {
    border-radius: 10px;
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}