@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



.quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.quizz h1{
    font-family: "Nunito", sans-serif;
}

.question{
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
}

button {
    border-radius: 7px;
    font-family: "Nunito", sans-serif;
}

#valide {
    border-radius: 7px;
    font-family: "Nunito", sans-serif; 
}

input {
    border-radius: 7px;
}

option {
    border-radius: 7px;
}

.titre {
    font-family: "Nunito", sans-serif;
}