@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 15px;
    font-family: "Nunito", sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.card {
    border: solid black;
    border-radius: 10px;
}