@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 
 
*{
    margin: 0;
}
 
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid rgb(255, 218, 85);
}
 
nav{
    display: flex;
    gap: 20px;
}
nav img{
    width: 300px;
}
 
 
nav ul {
    display: flex;
    justify-content: space-around;
    width: 400px;
    align-items: center;
}
 
nav ul li{
    list-style: none;
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
}
 
a {
    text-decoration: none;
    color: inherit;
}
 
 
.home {
    position: relative;
    color: rgb(125, 85, 255);
}
 
.home::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: rgb(125, 85, 255);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
 
.home:hover::after {
    transform: scaleX(1);
}
 
.myquizz{
    color: rgb(255, 85, 85);
    position: relative;
}
 
.myquizz::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 85, 85);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
 
.myquizz:hover::after{
    transform: scaleX(1);
}
 
 
.create{
    color: rgb(255, 218, 85);
    position: relative;
}
.create::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 218, 85);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
   
}
 
.create:hover::after {
    transform: scaleX(1);
}
 
 
.Admin{
    color: rgb(111, 111, 111);
    position: relative;
}
 
 
.Admin::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: rgb(111, 111, 111);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
 
.Admin:hover::after{
    transform: scaleX(1);
}
 
 
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
 
.login a h3{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 15px;
}
.login a {
    text-decoration: none;
    font-size: 22px;
}