@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid rgb(255, 218, 85);
}

nav{
    display: flex;
    gap: 20px;
}
nav img{
    width: 300px;
}


nav ul {
    display: flex;
    justify-content: space-around;
    width: 400px;
    align-items: center;
}

nav ul li{
    list-style: none;
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}



.home{
    color: rgb(125, 85, 255);
}
.home:hover{
    background-color: rgb(125, 85, 255);
    color: white;
    border-radius: 5px;
}
.myquizz{
    color: rgb(255, 85, 85);
}
.myquizz:hover{
    background-color: rgb(255, 85, 85);
    color: white;
    border-radius: 5px;
}
.create{
    color: rgb(255, 218, 85);
}
.create:hover{
    background-color: rgb(255, 218, 85) ;
    color: white;
    border-radius: 5px;
    
}
.Admin{
    color: rgb(111, 111, 111);
}
.Admin:hover{
    color: black;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login a h3{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 15px;
}
.login a {
    text-decoration: none;
    font-size: 22px;
}