h1 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 50px;
}

h3 {
    font-family: "Nunito", sans-serif; 
}

.text-content {
    justify-content: center;
    width: 1200px;
    margin-left: 130px;
    margin-top: 20px; 
  }